video, img, canvas{
    max-width: 100%;
}

iframe{
  height:50vh;
   width: 100%;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}


#chart {
  max-width: 650px;
  margin: 35px auto;
}
